h1,
h2 {
  font-family: Lato;
}

#resulttab {
  margin-left: auto;
  margin-right: auto;
}

tr th {
  background-color: white;
}

tr {
  background-color: lightgray;
}
tr.success {
  background-color: lightgreen;
}
tr.failure {
  background-color: lightcoral;
}

td.result, td.performance {
  text-align: right;
}

td.xtra {
  padding-left: 10px;
  padding-right: 10px;
}
